* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: azure;
  display: grid;
  font-family: "Helvetica Neue", sans-serif;
}

div.container {
  background: black;
  width: 350px;
  height: 600px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin: 2.5rem auto;
  position: relative;
}

.clc {
  background: aliceblue;
  width: 350px;
  height: 200px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.buttons {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 70px);
  justify-content: center;
  align-items: center;
  margin-left: 1.3rem;
  margin-top: 0.5rem;
  row-gap: 10px;
  column-gap: 10px;
}
.buttons div.sayi,
div.tus {
  background-color: rgb(152, 151, 151);
}
.buttons div {
  height: 70px;
  border-radius: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  display: grid;
}

.buttons div.sayi {
  background-color: rgb(45, 45, 45);
}

.buttons div.icon {
  background-color: orange;
}

.tus:hover,
.icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.tus-0 {
  grid-column: span 2;
  display: flex;
  justify-content: flex-start;
  padding-left: 1.8rem;
}
.alanlar {
  background-color: black;
  color: aliceblue;
  width: 350px;
  height: 175px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 11rem;
  width: 100%;
  text-align: right;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.alan1 {
  font-size: 1.5rem;
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height: 50px;
  /* background-color: aqua; */
  margin-bottom: 0.5rem;
  padding-right: 2rem;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}
.alan2 {
  /* opacity: 0.5; */
  font-size: 1.5rem;
  overflow: hidden;
  width: 100%;
  height: 70px;
  /* background-color: aqua; */
  color: aliceblue;
  padding-right: 2rem;
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .container {
    width: 350px;
    height: 600px;
  }
  .tuslar {
    height: 10rem;
    font-size: 3rem;
  }

  .tus,
  .icon {
    font-size: 1.7rem;
    height: 4rem;
    width: 4rem;
  }
  .tus-0 {
    border-radius: 2rem;
    padding-left: 1.3rem;
    width: 8rem;
  }
}
